POSTGRES_DB=acmrank
POSTGRES_USER=acmrank
POSTGRES_PASSWORD=acmrank_dev
POSTGRES_PORT=5432

REDIS_PORT=6379

NATS_CLIENT_PORT=4222
NATS_MONITOR_PORT=8222

ELASTICSEARCH_PORT=9200
ELASTICSEARCH_HEAP=512m
