POSTGRES_DB=acmrank
POSTGRES_USER=acmrank
POSTGRES_PASSWORD=acmrank_dev
POSTGRES_PORT=5432

REDIS_PORT=6379

NATS_CLIENT_PORT=4222
NATS_MONITOR_PORT=8222

ELASTICSEARCH_PORT=9200
ELASTICSEARCH_HEAP=512m

ACMRANK_POSTGRES_DSN=postgres://acmrank:acmrank_dev@127.0.0.1:5432/acmrank?sslmode=disable
ACMRANK_REDIS_ADDR=127.0.0.1:6379
ACMRANK_NATS_URL=nats://127.0.0.1:4222
ACMRANK_ELASTICSEARCH_URL=http://127.0.0.1:9200
